* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;

  background: #000;
}

.background-image {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.5;

  object-fit: cover;
}

.content {
  position: relative;
  z-index: 2;
}

.main-nav {
  float: right;

  margin-top: 10px;

  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  padding: 5px 20px;

  text-decoration: none;

  color: white;

  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main-nav li a:hover {
  border: 1px solid #ff4b4b;
}

.header {
  font-family: "Roboto", sans-serif;
}

.portrait-circle {
  position: relative;
  top: 50px;
  left: 50%;

  width: 200px;
  height: 200px;
  margin-left: -100px;

  border: 1px solid #ff4b4b;
  border-radius: 50% 50% 50% 50%;
}

.header-text-container {
  margin-top: 75px;

  text-align: center;

  font-size: 175%;
}

.header-text {
  color: white;
}

.header-summary {
  margin: 15px;
  margin-right: 20%;
  margin-left: 20%;

  color: white;

  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
}

.links {
    margin-top: 10px;
    padding: 0px;
}

.links li {
    display: inline-block;

    margin: 6px;

    font-size: 100%;
}

.links i {
    opacity: 0.75;
    color: white;
}

.links i:hover {
    opacity: 1;
}

i.fa {
  display: inline-block;

  padding: 0.4em 0.5em;

  border: 1px solid #ff4b4b;
  border-radius: 50% 50% 50% 50%;
}

.projects {
  min-height: 100%;
  margin-top: 100px;

  font-family: "Lato", sans-serif;
}

.projects-title {
  margin-left: 1.66%;

  color: white;

  font-size: 40px;
  font-weight: bold;
}

.projects-content {
  padding: 10px;
}

.project-square {
  position: relative;

  float: left;
  overflow: hidden;

  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;

  background-color: white;
}

.square-content {
  position: absolute;

  width: 90%;
  height: 80%;
  padding: 10% 5%;
}

.table {
  display: table;

  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;

  width: 100%;
  height: 100%;

  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: .5s ease;

  opacity: 0;
  background-color: white;
}

.table-cell:hover .overlay {
  opacity: 0.80;
}

.overlay ul {
  position: absolute;
  top: 50%;
  left: 50%;

  list-style: none;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  color: black;
}

.overlay ul li {
}

.project-name {
  font-family: "Verdana", sans-serif;
}

.project-disc {
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  color: black;
}

.bg {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.project-img1 {
  background-image: url("image/background.jpg")
}

.project-img2 {
  background-image: url("image/background2.jpg")
}
