* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;

  background: #fff8ed;
}

.content {
  position: relative;
  z-index: 2;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

heade {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav-links {
  list-style: none;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  text-decoration: black;
  text-decoration: underline;
}

.header {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}


.header-text-container {
  margin-top: 75px;

  text-align: center;

  font-size: 175%;
}

.header-text {
  color: black;
}

.header-summary {
  margin: 15px;
  margin-right: 20%;
  margin-left: 20%;

  color: black;

  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
}

.links {
    margin-top: 10px;
    padding: 0px;
}

.links li {
    display: inline-block;

    margin: 6px;

    font-size: 100%;
}

.links i {
    opacity: 0.75;
    color: black;
}

.links i:hover {
    opacity: 1;
}

i.fa {
  display: inline-block;

  padding: 0.4em 0.5em;

  border: 1px solid black;
  border-radius: 50% 50% 50% 50%;
}
