* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;

  background: white;
}

.content {
  position: relative;
  z-index: 2;
}

li, a {
  text-decoration: none;

  color: black;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 30px 10%;

  background-color: white;
}

.name {
  margin-right: auto;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.nav-links {
  list-style: none;

  letter-spacing: 0.1em;
  text-transform: lowercase;
}

.nav-links li {
  display: inline-block;

  padding: 0px 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  text-decoration: black;
  text-decoration: underline;
}

.summary {
  font-family: "Montserrat", sans-serif;
}


.summary-text-container {
  margin-top: 75px;

  text-align: center;

  font-size: 175%;
}

.summary-title {
  margin: 35px;

  letter-spacing: 0em;
  text-transform: lowercase;

  color: black;

  font-weight: 300;
}

.summary-desc {
  margin: 15px;
  margin-right: 20%;
  margin-left: 20%;

  color: black;

  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.links {
    margin-top: 10px;
    padding: 0px;
}

.links li {
    display: inline-block;

    margin: 6px;

    font-size: 100%;
}

.links i {
    opacity: 0.75;
    color: black;
}

.links i:hover {
    opacity: 1;
}

i.fa {
  display: inline-block;

  padding: 0.4em 0.5em;

  border: 1px solid black;
  border-radius: 50% 50% 50% 50%;
}
